<div class="category-container">
  <div *ngFor="let categoria of categorias" class="category-card">
    <h2>{{ categoria.title }}</h2> 
    <div *ngFor="let produto of categoria.items; let i = index">
      <div *ngIf="categoria.showProducts || i < 2"> 
        <a [routerLink]="['/product', produto.slug]">
        <p>{{ produto.name }}</p>
        </a>
      </div>
    </div>
    <div class="ver-tudo">
      <button (click)="toggleProducts(categoria)">
        {{ categoria.showProducts ? 'Ver menos' : 'Ver tudo' }}
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </button>
    </div>
  </div>
</div>
