
.blog-card {
    background-color: white;
    border-radius: 10px;
    padding: 5px 20px;
    position: relative;
    margin: 0 6rem;
    min-width: 300px;
  }
  
  .blog-title{
    display: flex;
    align-items: center; 
  }
  
  .newspaper{
    color: rgb(30, 103, 30); 
    font-size: 20px;
  }
  
  .blog-card-title {
    margin: 0 0 0 1rem;
  }
  
  .blog-card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
  
  .post-card {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .post-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0; 
  }
  
  .post-content {
    padding: 10px;
  }
  
  .post-content h2 {
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .post-content p {
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  button {
    background-color: transparent;
    color: rgb(30, 103, 30); 
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
    align-items: flex-end;
    text-align: right;
    font-size: 14px;
    width: 100%;
  }

  @media (max-width: 768px) {
    .card {
      flex-direction: column;
    }
  
    .post-card {
      width: 100%;
    }
  
    .blog-card-content {
      flex-direction: column;
    }
  
    .blog-post-card {
      width: 100%;
    }
  }
  
  