.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 8rem;
  }
  
  .footer-section {
    flex-basis: 20%;
    line-height: 28px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .image-container {
    display: flex;
    flex: 1; 
    justify-content: space-between; 
    max-width: 100px; 
    height: auto;
  }
  
  .image-container img {
    max-width: 60px; 
    height: 30px;
    aspect-ratio: 3/2;
    object-fit: contain;
  }

  .social-link:hover{
    transform: scale(1.2);
  }

  .divisor{
    border: 1px solid rgb(241, 241, 241);
    width: 90%;
  }

  .footer-footer{
    margin: 2rem 8rem;
    line-height: 22px;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-wrap: wrap;
    }
    
    .footer-section, .social-media {
      flex-basis: 50%;
      margin-bottom: 20px;
      text-align: center;
    }
    .image-container{
      margin: 0 4.5rem;
    }
    
    .footer-container {
      margin: 0 2.5rem;
    }
    .footer-footer{
      margin: 0 2.5rem;
    }
  }
  