<footer>
    <div class="footer-container">
      <div class="footer-section">
        <h3>Institucional</h3>
        <ul>
          <li>Inicio</li>
          <li>Sobre Nós</li>
          <li>Blog</li>
          <li>Pagina Nova</li>
          <li>Pagina Nova</li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Suporte</h3>
        <ul>
          <li>Fale Conosco</li>
          <li>Primeira Compra?</li>
          <li>Telefone: 61 9999-9999</li>
          <li>Email</li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Termos</h3>
        <ul>
          <li>Termos de Uso</li>
          <li>Política de Privacidade</li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Segurança</h3>
        <img src="caminho/para/imagem.png" alt="Google Site Seguro">
      </div>
    </div>
    <div class="footer-social">
      <div class="social-media">
        <img src="caminho/para/instagram.png" alt="Instagram">
        <img src="caminho/para/facebook.png" alt="Facebook">
        <img src="caminho/para/whatsapp.png" alt="WhatsApp">
      </div>
      <div class="payment">
        <img src="caminho/para/pagamento.png" alt="Pagamento">
      </div>
    </div>
  </footer>
  