.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 8rem;
  }
  
  .footer-section {
    flex-basis: 25%;
    line-height: 28px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .social-media, .payment {
    flex-basis: 50%;
  }

  .divisor{
    border: 1px solid rgb(241, 241, 241);
    width: 90%;
  }


  .footer-footer{
    margin: 2rem 8rem;
    line-height: 22px;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-wrap: wrap;
    }
    
    .footer-section, .social-media, .payment {
      flex-basis: 50%;
      margin-bottom: 20px;
    }
  }
  