<div class="top-bar-extra">
  <div class="left-section">
    <button class="location-button">
      <fa-icon [icon]="faLocation"></fa-icon>
      <p class="location-text">Retirar em: Asa Norte, Campus Universitário Darcy Ribeiro Bloco A  PMU I Sala AT 08/03 - AC UNB, Edificio CDT, Brasília - DF</p>
    </button>
  </div>
  <div class="middle-section">
    <span class="clock-icon">
      <fa-icon [icon]="faClock"></fa-icon>
    </span>
    <span class="clock-text">Próxima entrega:</span>
  </div>
  <div class="right-section">
    <span class="right-text">{{ formattedTomorrow.charAt(0).toUpperCase() + formattedTomorrow.slice(1) }}</span>
  </div>
</div>
<div class="header">
  <div class="top-bar">
    <div class="logo">
      <img src="../../../assets/images/logo.png" alt="logo">
      <h3 class="logo-text">Supermercado Modelo</h3>
    </div>
    <div class="search-bar">
      <fa-icon [icon]="searchIcon" class="search-icon"></fa-icon>
      <input type="text" placeholder="O que você procura?" class="search-input">
    </div>
    <div class="icons">
      <fa-icon [icon]="faList" class="header-icon"></fa-icon>
      <h4 class="header-list-btn">Listas</h4>
      <fa-icon [icon]="faUser" class="header-icon"></fa-icon>
      <h4 class="header-account-btn">Minha Conta
        <fa-icon [icon]="faAngleDown" class="header-icon"></fa-icon>
      </h4>
      <button (click)="abrirCarrinho()" class="header-cart-button">
        <fa-icon [icon]="faShoppingCart" class="header-cart-icon"></fa-icon>
        <span class="cart-text">Carrinho</span>
        <span class="cart-item-count">{{ getCarrinhoItemCount() }}</span>
      </button>
      <div class="carrinho-modal" *ngIf="exibirCarrinho">
        <div class="modal-header">
          <button class="close-modal" (click)="fecharCarrinho()">
            <fa-icon 
              [icon]="faAngleLeft">
            </fa-icon>
          </button>
          <h1 class="modal-title">Meu carrinho</h1>
          <button class="clear-modal" >x</button>
        </div>
        <app-cart-page></app-cart-page>
      </div>
    </div>
  </div>
</div>
<div class="additional-icons">
  <div class="additional-icons-inner">
    <a [routerLink]="['/home']" class="icon-item">
      <fa-icon [icon]="faHome" class="additional-icon"></fa-icon>
      <span class="icon-text">INÍCIO</span>
    </a>
    <a class="icon-item">
      <fa-icon [icon]="faListAlt" class="additional-icon"></fa-icon>
      <a [routerLink]="['/categorias']">Todas as Categorias</a>
    </a>
    <a href="pagina3.html" class="icon-item">
      <fa-icon [icon]="faListAlt" class="additional-icon"></fa-icon>
      <span class="icon-text">Ofertas</span>
    </a>
    <a [routerLink]="['/product', 'Kit-Churrasco']" class="icon-item">
      <fa-icon [icon]="faFire" class="additional-icon"></fa-icon>
      <span class="icon-text">KIT CHURRASCO</span>
    </a>
    <a href="pagina5.html" class="icon-item">
      <fa-icon [icon]="faFire" class="additional-icon"></fa-icon>
      <span class="icon-text">Açougue / Aves / Peixaria </span>
    </a>
    <a href="pagina6.html" class="icon-item">
      <fa-icon [icon]="faFire" class="additional-icon"></fa-icon>
      <span class="icon-text">Frios e Laticínios</span>
    </a>
  </div>
</div>