.produto-lista {
    display: flex;
    flex-wrap: wrap;
  }
  
  .produto {
    width: 25%; /* Define a largura das colunas (4 colunas por linha) */
    padding: 10px;
  }
  
  .item-lista {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    width: 25%; /* Define a largura das colunas (4 colunas por linha) */
    padding: 10px;
  }

  .slick-slider {
    width: 88%;
    margin: auto;
  }
  

  .carousel-buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
  }
  
  .carousel-button {
    padding: 8px 16px;
    background-color: #eee;
    border: none;
    cursor: pointer;
  }
  

  .categoria-card {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
  }

  .carousel-wrapper{
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .card-item{
    text-align: center;
  }
  
  .card-item img {
    margin-bottom: 5px;
    margin: 0 auto;
    display: block;
  }

  .product-name {
    width: 80%;
    color: rgb(66, 66, 66);
    font-size: 16px;
    text-align: left;
    margin-left: 1rem;
    font-weight: 200;

  }
  
  .product-price {
   color: rgb(233, 123, 141);
  }
