
<!-- Banner
<div>
  <h2>Banners:</h2>
  <div *ngFor="let banner of banners">
    <h3>{{ banner.title }}</h3>
    <img [src]="'https://assets.instabuy.com.br/ib.store.banner/bnr-' + banner.image" alt=">{{ banner.title }}">
    
  </div>
</div>-->

<!-- Itens da promoção -->
<div class="carousel-wrapper">
  <div class="card">
    <div class="offer-container">
      <span class="offer-icon">
        <fa-icon [icon]="boltIcon"></fa-icon>
      </span>
      <span class="offer-text">Ofertas</span>
    </div>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let item of promo" class="slide card-item">
        <!--<p>{{ item.description | removeTags }}</p> -->
        <img [src]="'https://assets.instabuy.com.br/ib.item.image.small/s-' + item.images[0]" alt="Produto">
        <div class="product-prices">
          <p class="product-price">R$ {{ item.min_price_valid }}</p>
          <p class="product-nopromo">R$ {{ item.prices[0].price }}</p>
        </div>
        <h3 class="product-name">{{ item.name }}</h3>
        <!-- ... Outros detalhes do item da promoção -->
      </div>
    </ngx-slick-carousel>
    <div class="carousel-buttons">
      <!-- Add your custom navigation buttons here -->
      <button class="carousel-button prev-button" (click)="slickModal.slickPrev()"><</button>
      <button class="carousel-button next-button" (click)="slickModal.slickNext()">></button>
    </div>
  </div>
</div>


  
<!-- Lista de categorias -->
<div>
  <div *ngFor="let categoria of categorias" class="categoria-card">
    <div class="card">
      <h3>{{ categoria.title }}</h3>
      <!-- Carousel da categoria -->
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let item of categoria.items" class="slide">
         
          <img [src]="'https://assets.instabuy.com.br/ib.item.image.small/s-' + item.images[0]" alt="Produto">
          <p  class="product-price">R$ {{ item.prices[0].price }}</p>
          <h4 class="product-name">{{ item.name }}</h4>
          <!-- ... Outros detalhes do item -->
        </div>
      </ngx-slick-carousel>
      <div class="carousel-buttons">
        <!-- Add your custom navigation buttons here -->
        <button class="carousel-button prev-button" (click)="slickModal.slickPrev()"><</button>
        <button class="carousel-button next-button" (click)="slickModal.slickNext()">></button>
      </div>
    </div>
  </div>
</div>


