html{
 background-color: rgb(250, 250, 250); /* Altere a cor de fundo conforme necessário */
}

.offer-container {
  display: flex;
  align-items: center;
}

.offer-icon {
  margin-right: 5px; /* Adicione margem à direita para separar o ícone do texto */
}
.produto-lista {
    display: flex;
    flex-wrap: wrap;
  }
  
  .produto {
    width: 25%; /* Define a largura das colunas (4 colunas por linha) */
    padding: 10px;
  }
  
  .item-lista {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    width: 25%; /* Define a largura das colunas (4 colunas por linha) */
    padding: 10px;
  }

  .slick-slider {
    width: 88%;
    margin: auto;
  }
  

  .carousel-buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
  }
  
  .carousel-button {
    padding: 10px;
    background-color: rgb(44, 151, 44);
    border: none;
    cursor: pointer;
    border-radius: 65%;
    color: white;
    font-size: 15px;
  }
  

  .categoria-card {
    background-color: rgb(250, 250, 250); /* Altere a cor de fundo conforme necessário */;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
  }

  .carousel-wrapper{
    background-color: rgb(250, 250, 250); /* Altere a cor de fundo conforme necessário */;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .card-item{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  
  .card-item img {
    margin-bottom: 5px;
    margin: 0 auto;
    display: block;
  }

  .product-name {
    width: 80%;
    color: rgb(66, 66, 66);
    font-size: 16px;
    text-align: left;
    margin-left: 1rem;
    font-weight: 200;
    margin-top: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Define o limite de 2 linhas */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .product-prices {
    display: flex;
    align-items: center;
  }
  
  .product-price {
    color: rgb(237, 77, 104);
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    margin-left: 1rem;
  }
  
  .product-nopromo {
    color: rgb(66, 66, 66);
    font-size: 14px;
    text-align: left;
    margin-left: 0.4rem;
    font-weight: bold;
    text-decoration:line-through;
  }
