body,
html {
  background-color: rgb(240, 240, 240);
}

a {
  text-decoration: none;
}

.bolt {
  color: rgb(30, 103, 30);
  font-size: 20px;
}

.page-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
  max-width: 1200px; 
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  margin: 0 auto;
  max-width: 1200px; 
}

.produto-card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: calc(15% - 15px);
}

.card-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-item img {
  margin-bottom: 5px;
  margin: 0 auto;
  display: block;
}

.product-name {
  width: 80%;
  color: rgb(66, 66, 66);
  font-size: 16px;
  text-align: left;
  margin-left: 0.5rem;
  margin-bottom: 0;
  font-weight: 200;
  margin-top: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-prices {
  display: flex;
  align-items: center;
}

.product-price {
  color: rgb(237, 77, 104);
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
  margin-top: 0.8rem;
}

.product-nopromo {
  color: rgb(66, 66, 66);
  font-size: 14px;
  text-align: left;
  margin-left: 0.4rem;
  font-weight: bold;
  text-decoration: line-through;
  margin-bottom: 0.2rem;
  margin-top: 0.8rem;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  margin: 20px 10px;
  background-color: rgb(241, 241, 241);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  color: black;
  font-size: 20px;
  box-shadow: 1px 1px 6px rgba(58, 58, 58, 0.2);
}

@media (max-width: 1200px) {
    .produto-card {
      width: calc(20% - 20px);
    }
  }
  
  @media (max-width: 964px) {
    .produto-card {
      width: calc(33.33% - 20px); 
    }
  }
  
  @media (max-width: 768px) {
    .produto-card {
      width: calc(50% - 20px); 
    }
  }
  
