<div class="header">
  <!-- Barra no topo da tela -->
  <div class="top-bar">
    <!-- Input de pesquisa -->
    <input type="text" placeholder="Buscar" class="search-input">
    <!-- Outros elementos da barra, se houver -->
  </div>
</div>

<!-- Banner -->
<div>
  <h2>Banners:</h2>
  <div *ngFor="let banner of banners">
    <img [src]="'https://assets.instabuy.com.br/ib.store.banner/bnr-' + banner.image" alt="Banner">
    <h3>{{ banner.title }}</h3>
  </div>
</div>

<!-- Lista de categorias -->
<div>
  <h2>Categorias:</h2>
  <div *ngFor="let categoria of categorias">
    <div class="categoria">
      <h3>{{ categoria.title }}</h3>
      <!-- Lista de produtos -->
      <div class="produto-lista">
        <div class="produto" *ngFor="let produto of categoria.items">
          <!-- Imagem do produto -->
          <img [src]="'https://assets.instabuy.com.br/ib.item.image.small/s-' + produto.images[0]" alt="Produto">
          <!-- Valor -->
          <p>Preço: R$ {{ produto.min_price_valid }}</p>
          <!-- Título -->
          <h4>{{ produto.name }}</h4>
          <!-- Descrição -->
          <h3>{{ produto.description | removeTags }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

     <!-- 
<div>
  <h2>Banners:</h2>
  <div *ngFor="let banner of banners">
    <img [src]="'https://assets.instabuy.com.br/ib.store.banner/bnr-' + banner.image" alt="Banner">
    <h3>{{ banner.title }}</h3>
  </div>
</div>

<div>
  <h2>Categorias:</h2>
  <div *ngFor="let categoria of categorias">
    <div class="product">
      <h3>{{ categoria.title }}</h3>
      <div *ngFor="let produto of categoria.items">
        <div *ngFor="let imagem of produto.images">
          <img [src]="'https://assets.instabuy.com.br/ib.item.image.small/s-' + imagem" alt="Produto">
        </div>
        <p>{{ produto.name }}</p>
        <p>{{ produto.min_price_valid }}</p>
        <p>{{ produto.price }}</p>
      </div>
    </div>
  </div>
</div>--> 
