<div  *ngIf="produto"  class="product-page">
  <div class="category-container">
    <p>{{ categoriaTitle }}</p>
  </div>
  <div class="card-container">
    <div class="product-card">
      <div class="image-carousel">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let image of produto.images" class="slide">
            <img [src]="'https://assets.instabuy.com.br/ib.item.image.large/l-' + image" alt="{{ produto.name }}">
          </div>
        </ngx-slick-carousel>
        <div class="carousel-buttons">
          <button 
            class="carousel-button prev-button" 
            (click)="slickModal.slickPrev()"> 
            <fa-icon 
              [icon]="faAngleLeft">
            </fa-icon>
          </button>
          <button class="carousel-button next-button" 
            (click)="slickModal.slickNext()">
            <fa-icon 
              [icon]="faAngleRight">
            </fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="details-card">
      <div class="product-details">
        <h1 class="product-name">{{ produto.name }}</h1>
        <p class="product-brand"> {{ produto.brand }}</p>
        <div class="price-container">
          <p class="promo-price">R$ {{ produto.promoprice.toFixed(2) }}</p>
          <p class="price">R$ {{ produto.price.toFixed(2) }}</p>
        </div>
        <div class="quantity-container">
          <button class="remove-button" (click)="resetInput()">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
          <input type="number" value="1" class="quantity-input">
          <button class="add-button" (click)="incrementInput()">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
          <button class="add-to-cart-button" (click)="adicionarProdutoAoCarrinho(produto)">Adicionar ao carrinho</button>
        </div>
      </div>
    </div>
  </div>
  <div class="description-card">
    <h2 class="description-title">Descrição do Produto</h2>
    <p class="description-text">{{ produto.description | removeTags }}</p>
  </div>
  <div class="description-card">
    <p class="description-text"> Informações sobre o produto ou embalagem apresentada pode não ser atual ou completo. Sempre consulte o produto físico para as informações mais precisas e avisos. Para obter informações adicionais, entre em contato com o revendedor ou fabricante.</p>
  </div>
</div>
