<div class="remove-button">
  <button class="clear-btn" (click)="limparCarrinho()">Limpar</button>
</div>
<div class="carrinho-compras">
  <div class="produto-container">
   
    <div *ngFor="let produto of produtos" class="produto">
      <img  class="produto-image" [src]="'https://assets.instabuy.com.br/ib.item.image.small/s-' + produto.images[0]" alt="{{ produto.name }}">
      <p class="produto-name">{{ produto.name }}</p>
      <div class="produto-quantidade">
        <input class="qtd" type="number" [(ngModel)]="produto.quantidade" (input)="atualizarValor(produto)" min="1" step="1">
      </div>
      <p>R$ {{ produto.valorTotal }}</p>
    </div>
  </div>
  <button class="finalizar-compra">
    <span class="finalizar-compra-text"> Finalizar Compra </span>
    <span class="total">R$ {{ total.toFixed(2) }}</span>
  </button>
</div>
