  .produto-container {
    height: 80vh;
    max-height: 70%;
    overflow-y: auto; 
  }

  .produto {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(222, 222, 222);
  }
  
  .carrinho-compras {
    width: 480px; 
    background-color: #fff;
    padding: 20px;
    z-index: 999!important;
    right: 0;
    height: 100vh;
    top: 0;
    position: relative;
  }
  
  .finalizar-compra {
    width: 500px;
    background-color: rgb(44, 151, 44);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .finalizar-compra-text{
    margin-left: 1rem;
  }
  .total {
    margin-right: 1rem;
    background-color: rgb(33, 114, 33); 
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .total p::before {
    content: 'Total: R$';
    display: inline;
    margin-right: 5px;
  }
  
  
  
  

  